<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant</title>
    <link rel="stylesheet" href="../static/pagina.css">
</head>
<body>

    <header id="letras">
        <h1>Valorant Riot Games</h1>
    </header>

   

    <div>
        <video autoplay muted loop id="myVideo">
            <source src="../static/Fondo.mp4" type="video/mp4">
        </video>
    </div>

    <nav>
        <a href="/login" target="_blank">Login</a>
        <a href="/registro" target="_blank">Registrarse</a>
        <a href="#informacion">Más Información</a>
        <a href="#">Contactarnos</a>
    </nav>

    <div class="info">
        <h2 id="informacion">INFORMACIÓN SOBRE VALORANT</h2>
        <p >Valorant es un videojuego de disparos en primera persona táctico desarrollado y publicado por Riot Games. El juego fue anunciado con el nombre en código "Project A" en octubre de 2019 y fue lanzado el 2 de junio de 2020. Valorant es gratuito para jugar y es un juego de disparos táctico en equipo de 5 contra 5 con elementos de juegos de estrategia y hero shooters. Los jugadores asumen el control de agentes, personajes que tienen habilidades únicas y diferentes estilos de juego. El objetivo principal del juego es plantar o desactivar un dispositivo explosivo en un mapa o eliminar al equipo contrario.</p>
        
        <!-- Puedes agregar más información sobre Valorant aquí -->
    </div>

    

</body>
</html>
